.h1 {
  background-image: url(img/hder.jpg);
  height: 400px;
  background-size: cover;
  background-position-y: 60%;
  display: flex;
  align-items:center;
  justify-content:center;
  text-align: center;
  color: #15253f;
  font-weight: bold;
  font-size: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-shadow: 2px 2px 5px #357ec7;
}

.h1:hover {
color: white;
cursor: pointer;
}

@media screen and (max-width: 600px) {
  .h1 {
      height: 200px; /* Adjust height for smaller screens */
      font-size: 28px; /* Adjust font size for smaller screens */
      background-position-y: 50%; /* Adjust background position for smaller screens */
  }
}









* {
  scroll-behavior: smooth;
}









#myfirstjs {
  position: sticky;
  top: 0;
  font-size: 37px;
  height: 90px;
  background-color: #f0f0f0;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#myfirstjs img {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  list-style-type: none;
  margin-right: 50px;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 40px; /* Increased spacing between words */
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s, transform 0.2s, text-shadow 0.2s;
}

nav ul li a:hover {
  color: #d3292c;
  transform: scale(1.1);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  #myfirstjs {
      font-size: 28px; /* Reduce the font size for smaller screens */
  }

  nav ul {
      display: none; /* Hide the entire list on smaller screens */
  }
}





















/* Header Styles */
.h2 {
  text-align: center;
  background-color: #15253f;
  color: #e9e9e9;
  font-size: 35px;
  margin: 0;
  text-decoration: underline;
  text-decoration-color: #e9e9e9;
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Welcome Section Styles */
.welcome {
  display: flex;
  height: 650px;
  background-color: #15253f;
}

.welcome-text {
  float: left;
  color: #e9e9e9;
  border: #00a4dd solid 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  width: 500px;
  padding: 10px;
  margin-top: 10%;
  margin-left: 100px;
}

.welcome-text strong {
  font-weight: bold;
}

.welcome-img1 {
  margin-left: 140px;
  margin-top: 10px;
  height: 300px;
  width: fit-content;
}

.welcome-img2 {
  outline: solid 3px #e9e9e9;
  outline-offset: 7px;
  margin-left: 40%;
  margin-top: 20%;
  height: 400px;
  width: 600px;
}

























/* Weather Section Styles */
.weather {
  display: flex;
  background-color: #d6d9db;
  height: 700px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.weather-image {
  flex: 1;
  background-color: #d6d9db;
  background-size: cover;
  width: 20%;
}

.weather-image img {
  width: 80%;
  height: 100%;
}

.weather-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-top: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.weather-title {
  font-size: 35px;
  text-align: center;
  color: #15253f;
  text-decoration: underline;
  text-decoration-color: #15253f;
  padding: 10px;
}

.weather-info img {
  width: 100%;
  max-height: 40%;
  object-fit: cover;
}

.weather-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  color: #15253f;
  border: 2px solid #15253f;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.weather-details p {
  margin: 0;
}

.weather-links {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.weather-links a {
  padding: 10px 20px;
  background-color: #244055;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.weather-links a:hover {
  background-color: #0056b3;
}


























.notam-container {
  color: #e9e9e9;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
  background-color: #15253f;
}

/* Title style */
.notam-title {
  border: #e9e9e9 solid 2px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-size: 35px;
  margin: 0;
  padding: 10px;
  width: 100%;
}

/* Flex container for columns */
.notam-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* Column styles */
.notam-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

/* Image styles */
.notam-image {
  height: 300px;
  margin: 10px 0;
}

/* Text styles */
.notam-text {
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  font-size: 20px;
  padding: 10px;
  margin: 50px 0 10px;
  border: 2px solid #ccc;
}

/* Button styles */
.notam-button {
  padding: 8px 20px;
  background-color: #dadbdd;
  color: #15253f;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.notam-button:hover {
  color: #e9e9e9;
  background-color: #d3292c;
}

/* Images container */
.notam-images {
  display: flex;
  justify-content: center;
  margin:10px;
  
}


















.legislation-container {
  display: flex;
  height: 700px;
  width: 100%;
  margin: 0 auto;
  background-color: #d6d9db;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.legislation-main-content {
  flex: 7;
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #15253f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: #C3AD86 solid 2px;
}

.legislation-heading {
  color: #C3AD86;
  text-align: center;
  margin: 0;
  font-size: 35px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: underline;
  text-decoration-color: #C3AD86;
}

.legislation-main-text {
  color: #d6d6d6;
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.legislation-links {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  list-style-type: none;
}

.legislation-links a {
  text-decoration: none;
  color: #C3AD86;
}

.legislation-important-link {
  color: #C3AD86;
}

.legislation-lawbuttons {
  text-align: center;
  margin-top: 20px;
}

.legislation-lawbutton {
  text-decoration: none;
  font-size: 20px;
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #0b2c70;
  color: #e9e9e9;
  border: none;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

.legislation-lawbutton:hover {
  background-color: #3a5ca0;
}

.legislation-side-content {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.legislation-image {
  height: 300px;
  margin-top: 10px;
}














.questionbank {
  display: flex;
  height: 700px;
  width: 100%;
  margin: 0 auto;
  background-color: #15253f;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.background-image {
  flex: 1;
  background-image: url('img/king\ air\ 5.jpg');
  background-size: cover;
  background-position: center;
}

.content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 35px;
  color: #e9e9e9;
  text-decoration: underline;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  margin: 20px 0 10px;
}

.description {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #e9e9e9;
  text-align: center;
  margin: 0 0 20px;
  padding: 10px;
  border: #00a4dd solid 2px;
}

.section {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  padding: 10px;
  margin: 10px 0;
  height: 60px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  color: #15253f;
  background-color: #e9e9e9;
  transition: background-color 0.3s;
}

.section:hover {
  background-color: #0056b3;
}

.section.section-1:hover {
  background-color: #ffcc01;
}

.section.section-2:hover {
  color: #e9e9e9;
  background-color: #01374c;
}

.section.section-3:hover {
  background-color: #29a6a0;
}

.section.section-4:hover {
  color: #e9e9e9;
  background-color: #1a488e;
}

.section.section-5:hover {
  background-color: #53aeeb;
}

.section.section-6:hover {
  background-color: #436771;
  color: #e9e9e9;
}










* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles for the main container */
.events-container {
  background-color: #e9e9e9;
  height: 700px;
}

/* Styles for the heading */
.events-heading {
  text-align: center;
  background-color: #e9e9e9;
  color: #15253f;
  font-size: 35px;
  border: #15253f solid 3px;
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: underline;
  text-decoration-color: #15253f;
}

/* Styles for the main content */
.events-content {
  background-color: #e9e9e9;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 500px;
}

/* Styles for the main image */
.main-image {
  margin-left: 25%;
  height: 475px;
  outline: solid 3px #d3292c;
  outline-offset: 7px;
}

/* Styles for the info container */
.info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Styles for the info images */
.info-image {
  width: fit-content;
  margin-bottom: 10px;
}

.info-image-top {
  height: 250px;
  margin-top: 10px;
}

.info-image-bottom {
  margin-top: 30px;
  height: 150px;
}

/* Styles for the footer */
.events-footer {
  font-size: 20px;
  margin: 0;
  color: #15253f;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #e9e9e9;
  border-top: #15253f solid 3px;
  padding: 20px;
}

/* Style for the email link */
.events-footer strong a {
  color: inherit;
}

















/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles for the contact container */
.contact-container {
  background-color: #15253f;
  padding: 20px;
  height: 250px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

/* Styles for the logo container */
.contact-logo {
  display: flex;
  align-items: center;
}

/* Styles for the logo image */
.logo-image {
  width: 250px;
  height: 250px;
  margin-right: 10px;
  margin-top: 10px;
}

/* Styles for the contact info container */
.contact-info {
  flex: 1;
  padding: 10px;
  background-color: #15253f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border-top: #00a4dd solid 3px;
  color: #e9e9e9;
  text-align: center;
}


.contact-info strong a {color: inherit;}





/* Media query for smaller screens */
@media screen and (max-width: 1000px) {

  /* Adjust font sizes for smaller screens */

  /* Adjust font sizes for headings */
  .h2 {
    font-size: 28px;
  }

  /* Adjust font sizes for paragraphs */
  p,
  .welcome-text {
    font-size: 15px;
    width: auto;
    margin-left: 10%;
    width: 80%;

  }

  /* Adjust font sizes for navigation links */
  nav ul li a {
    font-size: 16px;
  }

  /* Make images responsive */
  img {
    max-width: 80%;
    height: auto;
  }

  /* Adjust size of welcome-img1 and welcome-img2 */
  .welcome-img1 {
    height: auto;
    max-width: 80%;
    margin-left: 10%;
    max-height: 350px;
  }

  .welcome-img2 {
    display: none;
    /* Hide welcome-img2 */
  }



  

 .weather-image {display: none;}

 .weather-title {font-size: 28px;}

 .weather img {
  width: 80%; 
margin-left: 15%;}

.weather-details {font-size: 15px;
margin-left: 15%;
max-width: 80%;}





.notam-title {font-size: 28px;}

.notam-text {font-size: 15px;}

.notam-image {height: auto;}





.legislation-heading {font-size: 28px;}

.legislation-main-content { width: 100%;}

.legislation-main-text {font-size: 15px;}

.legislation-side-content {display: none;}

.legislation-links {font-size: 15px;}





.background-image {display: none;}

.title {font-size: 28px;}

.description{ width: 100%;margin-top: 10%; font-size: 15px;}

.section {font-size: 14px; margin-top: 2%;}





.events-heading {font-size: 28px;}

.info-image-top {height: auto;}

.info-image-bottom {height: auto;}

.events-footer {font-size: 15px; width: 100%;}





.logo-image {height: auto;}

.contact-info {font-size: 15px;}


}














@media screen and (max-width:1480px) {
  .welcome-img2 {
    height: auto;
    max-width: 70%;
    max-height: 400px;
    margin-left: 20%;
  } 

.notam-images {display: none;}


}